@model Graduation_Core.Models.Employee

@{
    ViewData["Title"] = "Create";
}


<div class="alert alert-success text-center mx-auto">
    Add New Employee
</div>

@*Add Empolyee*@
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table class="table mx-auto ">
        <tbody>
            <tr>
                <td>Name</td>
                <td>
                    <div class="form-group">

                        <input asp-for="EmpName" class="form-control" />
                        <span asp-validation-for="EmpName" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Mobile</td>
                <td>
                    <div class="form-group">

                        <input asp-for="EmpMobile" class="form-control" />
                        <span asp-validation-for="EmpMobile" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <div class="form-group">

                        <input asp-for="EmpEmail" class="form-control" />
                        <span asp-validation-for="EmpEmail" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Address</td>
                <td>
                    <div class="form-group">

                        <input asp-for="EmpAddress" class="form-control" />
                        <span asp-validation-for="EmpAddress" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>SSN</td>
                <td>
                    <div class="form-group">

                        <input asp-for="EmpSsn" class="form-control" />
                        <span asp-validation-for="EmpSsn" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>City</td>
                <td>
                    <div class="form-group">

                        <select asp-for="EmpCId" class="form-control" id="eCityAdd" asp-items="@ViewBag.cities"></select>
                        <span asp-validation-for="EmpCId" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Details</td>
                <td>
                    <div class="form-group">
                        <input asp-for="EmpAddressDetails" class="form-control" />
                        <span asp-validation-for="EmpAddressDetails" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            <tr id="Loc">
                <td>Working Line</td>
                <td>
                    <div class="form-group">

                        <select asp-for="EmpLId" class="form-control" id="eLocationAdd" asp-items="ViewBag.locs"></select>
                        <span asp-validation-for="EmpLId" class="text-danger"></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        @*asas*@
        <div class="modal-footer">
            <a class="btn btn-secondary text-white" data-dismiss="modal" aria-label="Close"><i class="fas fa-chevron-circle-left "></i> Cancel</a>
            <button type="submit" class="btn btn-success"><i class="fas fa-save"></i>Create</button>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $( "#Loc" ).hide();
        $('#eCityAdd').change(function () {
           var sel = document.getElementById('eCityAdd');
           var current = sel.value;
            $.ajax({

                url: '@Url.Action("getlocationsbyid","Employees")',
                data: { id: current },
                type: "GET",
                success: function (result) {
                    if (result.length > 1) {
                        $('#eLocationAdd').children().remove();
                        for (var i = 0; i < result.length; i++) {
                            var option = document.createElement('option');
                            option.value = result[i].value;
                            option.innerHTML = result[i].text;
                            $('#eLocationAdd').append(option);

                        }
                        $('#Loc').show();

                    }
                }
            });
        });
    });
</script>